In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from mlcom.preprocess import preprocess_data
from mlcom.model_train import train_models
from mlcom.model_compare import compare_models
from mlcom.visualization import plot_results

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"

# Load the dataset
titanic_df = pd.read_csv(url)

# Display the first few rows
print(titanic_df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [2]:
titanic_df['target'] = data.target  # Target variable (house price)

# Preprocessing
X, y = preprocess_data(titanic_df, target_column='target', auto=True)

# Splitting the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Training models
results = train_models(X_train, y_train, X_test, y_test)

# Comparing models
compare_models(results)

# Plot results
plot_results(results)

NameError: name 'data' is not defined